/* line 2, ../scss/show-listing/show-listing.scss */
.page-template-page-templatesshow-listing-php section.show-listing {
  margin-bottom: 10px;
}
/* line 5, ../scss/show-listing/show-listing.scss */
.page-template-page-templatesshow-listing-php section.show-listing .show {
  margin: 20px 0;
  width: 500px;
}
/* line 9, ../scss/show-listing/show-listing.scss */
.page-template-page-templatesshow-listing-php section.show-listing .show .show-date {
  font-weight: bold;
}
/* line 13, ../scss/show-listing/show-listing.scss */
.page-template-page-templatesshow-listing-php section.show-listing .show .show-lineup {
  font-size: 12px;
}
/* line 17, ../scss/show-listing/show-listing.scss */
.page-template-page-templatesshow-listing-php section.show-listing .show .show-tour {
  font-size: 12px;
}
