.page-template-page-templatesshow-listing-php {
	section.show-listing {
		margin-bottom: 10px;

		.show {
			margin: 20px 0;
			width: 500px;

			.show-date {
				font-weight: bold;
			}
			
			.show-lineup {
				font-size: 12px;
			}
			
			.show-tour {
				font-size: 12px;
			}
		}
	}
}
